@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Titillium Web', sans-serif !important;
}
section{
	padding: 80px 0px;
}

.nav-link{
	font-weight: 500 !important;
	color: white !important;
}
a.nav-link:hover {
    background: #3736353d !important;
    border-radius:7px;
   
}
.navbar-collapse{
	text-align: center;
}
.header{
	height: 550px;
	background: linear-gradient(90deg, #136a8a, #267871) ;
}
.navbar-brand{
	color: white !important;
	font-weight: bold;
	font-size: 40px !important;
}
.slider-btn .btn-warning{
	margin-top: 20px;
    width: 228px;
    height: 50px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    background: #eb7d4b !important;
	border: none !important;
}

.slider-info{
	text-align: center;
	margin: 130px auto 0px auto;
}
.slider-text h3{
	color: white;
	font-size: 40px;
}
section.services {
    height: 550px;
    background: #17c2a4;
    color: white;
    padding: 80px 0px 80px 0px;
}

.service-title h3 ,.our-team-title h3,.skills-title h3 ,.portfolio-title h3,.our-clints-title h3,.contact-form-title h3{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.service-title p,.our-team-title p,.skills-title p ,.our-clints-title p,.contact-form-title p{
    text-align: center;
    width: 500px;
    margin: 0px auto 60px auto;
}
.service-icon i {
    font-size: 60px;
}

.service-icon {
    text-align: center;
}
.item-1 h3,.member h3 {
    text-align: center;
    margin: 15px;
}

.item-1 p,.member p {
    text-align: center;
}

section.our-team{
	height: 750px;
    background: rgb(231 241 248);
    color: #554d4d;
    padding: 80px 0px 80px 0px;
}
.service-img img {
    width: 200px;
    height: auto;
}
.service-img {
    text-align: center;
}

.mem-profession{
	text-align: center;
}
.member .mem-social-acc {
    text-align: center;
}

.mem-social-acc i {
    background: #bdd1df;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 7px;
    font-size: 16px;
    margin: 0px 4px;
}
/*Skills */

section.skills {
    padding: 80px 0px;
    height: 550px;
    background: white;
}
.skills-box {
    text-align: center;
    margin-bottom: 25px;
}


/*our portfolio */
section.portfolio {
    height: 1200px;
    background: #ffdd99;
    padding: 80px 0px;
}
.tab-btn {
    text-align: center;
    margin-bottom: 70px;
}

.tab-btn button {
    margin: 0px 5px;
    background: #ebc985;
    color: #393939;
    border: none;
}
.tab-btn .btn-danger {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 600;
}
.tab-btn .btn-danger:hover{
	background: white !important;
	color: #393939;
}
.tab-btn .btn-danger:visited {
  background: white !important;
  color: #393939;
}
.tab-btn .btn-danger:active {
  background: white !important;
  color: #393939;
}
.portfolio-title p{
	text-align: center;
    width: 500px;
    margin: 0px auto 30px auto;
}
.laptop {
    margin-top: 40px;
    text-align: center;
}
.laptop-box img{
	width: 400px;
}
.laptop h3 {
    text-align: center;
    margin-top: 23px;
    font-size: 20px;
    font-weight: 600;
}
.laptop h3:nth-child(1){
	margin-bottom: 50px;
}
.laptop h3:nth-child(2){
	margin-bottom: 50px;
}
#profile-item{
	margin-bottom: 100px;
}
.portfolio-btn {
    text-align: center;
    margin-top: 50px;
}

.port-btn {
    font-size: 16px;
    font-weight: 600;
    background: #17c2a4;
    color: white;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 285px;
}

/*our clints*/

.our-clints-title p {
    text-align: center;
}

section.our-clints {
    background: rgb(215 70 128);
    color: white;
    height: 600px;
}
.clint-photo img{
	width: 100px;
}
.testimonials {
    display: flex;
}

.clint-comment {
    width: 80%;
     margin-left: 50px;
}

.clint-photo {
    width: 20%;
}
.clint-comment p {
    width: 300px;
}
/*.clint:nth-child(1) {
    padding-left: 95px;
    margin-bottom: 150px;
}
.clint:nth-child(2) {
    padding-left: 30px;
    margin-bottom: 150px;
}
.clint:nth-child(3) {
    padding-left: 95px;
}
.clint:nth-child(4) {
    padding-left: 30px;
}*/
.clint-comment h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 70px;
}

/*Contact US*/
.contact-us {
    background: #3c5499;
    color: white;
    height: 700px;
}

.contact-form-title p {
    text-align: center;
}
.name-email{
	text-align: center;
}
.name-email input:nth-child(1) {
    width: 48%;
    margin-right: 11px;
    background-color: #273a71;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding-left: 20px;
}

.name-email input:nth-child(2) {
    width: 48%;
    margin-left: 18px;
    background-color: #273a71;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding-left: 20px;
}
.message{
	text-align: center;
}
.message input {
    width: 96%;
    background-color: #273a71;
    height: 165px;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    color: white;
    font-weight: 600;
    padding-left: 20px;
    padding-bottom: 120px;
    padding-right: 20px;

}
.submit {
    text-align: center;
}

input#submit {
    background: #30bae7;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
}

/* Footer*/
.footer{
	background: #344b8e;
	height: 100px;
}
.footer-links{
	text-align: center;
}
.f-links li{
	display: block;
	float: left;
}
.f-links{
    text-align: center;
    margin: 0px 135px 0px;
    padding-top: 30px;
}
.f-links li{
    float: left;
    list-style: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 25px;
}
.f-links li a{
	color: white;
	text-decoration: none;
}
p#footer-creadit {
    text-align: right;
    color: white;
}
/*progress bar */


.circle-chart {
  width: 150px;
  height: 150px;
}

.circle-chart__circle {
  stroke: #00acc1;
  stroke-width: 2;
  stroke-linecap: square;
  fill: none;
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

/**
 * 1. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 2. Scaling mirrors the circle to make the stroke move right
 *    to mark a positive chart value.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround.
 */

.circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__background {
  stroke: #efefef;
  stroke-width: 2;
  fill: none; 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 8px;
}

.circle-chart__subline {
    alignment-baseline: central;
    text-anchor: middle;
    font-size: 3px;
}

.success-stroke {
  stroke: #00C851;
}

.warning-stroke {
  stroke: #ffbb33;
}

.danger-stroke {
  stroke: #ff4444;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
