div#experiences {
  padding-top: 130px !important;
}
.experiences * {
  color: white;
  font-family: "Roboto Mono", monospace;
}
.experiences .container {
  background: #0000005c;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(15px);
}
.experiences .container h1 {
  font-size: 40px;
}
