#skills {
  padding-top: 160px;
}
#skills * {
  color: white;
  font-family: "Roboto Mono", monospace;
}
#skills .container {
  background: #0000005c;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(15px);
}
